.navBar {
  margin: 3rem 11.6rem 0rem 11.6rem;
}
.nav {
  background-color: var(--green-500);
  border: solid 1px var(--green-500);
  border-radius: 1.5rem;
}
.navItens {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.navImg {
  padding: 1.5rem 40.8rem 1.4rem 13.3rem;
}

.navLinks {
  display: flex;
  gap: 5rem;
}
.navLinks a {
  color: var(--black-500);
  text-decoration: none;
  font-weight: 800;
}

.buttonNav {
  padding-left: 22.1rem;
}
.buttonNav button {
  font-size: 1.4rem;
  background-color: var(--black-100);
  color: var(--white);
  padding: 1.4rem 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
