.aside {
  padding-bottom: 11.9rem;
  background-image: linear-gradient(90deg, #0998c5 0%, #4ee391 100%);
}
.infoXprop {
  display: grid;
  padding-top: 5.5rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.infoXprop span {
  font-weight: 800;
  font-size: 8rem;
  color: var(--white);
  line-height: 7.4rem;
}
.infoXprop p {
  color: var(--white);
  font-weight: 700;
  font-size: 3.6rem;
}
.content {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.contentBox {
  margin-top: 5.5rem;
  padding: 2.7rem 3.8rem 3.3rem 3.8rem;
  background-color: var(--white);
  display: grid;
  width: 38.6rem;
  height: 35.6rem;
  border: none;
  border-radius: 1.2rem;
}

.contentBox h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.6rem;
}
.contentBox p {
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--black-500);
}
